[submodule "JavaScriptCore"]
	path = JavaScriptCore
	url = https://github.com/apple-oss-distributions/JavaScriptCore
[submodule "WebCore"]
	path = WebCore
	url = https://github.com/apple-oss-distributions/WebCore
[submodule "cctools"]
	path = cctools
	url = https://github.com/apple-oss-distributions/cctools
[submodule "gdb"]
	path = gdb
	url = https://github.com/apple-oss-distributions/gdb
[submodule "gnumake"]
	path = gnumake
	url = https://github.com/apple-oss-distributions/gnumake
[submodule "ld64"]
	path = ld64
	url = https://github.com/apple-oss-distributions/ld64
[submodule "libstdcxx"]
	path = libstdcxx
	url = https://github.com/apple-oss-distributions/libstdcxx
[submodule "libiconv"]
	path = libiconv
	url = https://github.com/apple-oss-distributions/libiconv
